/* style of page body */
body
{
    background-color: #FAFAFF;
}

/* style of button */
button
{
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    border-radius: 25px;
    border-style: solid;
}

div
{
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    border-style: solid;
}
