/* style of page body */
body {
    background-color: #FAFAFF;
}

/* style of button */
button {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 25px;
    border-style: solid;
}

logo {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-style: solid;
    padding: 15px;
    text-align: center;
}

nav {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-style: solid;
    float: left;
    width: 120px;
    min-height: 620px;
    padding: 10px;
}

content {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-style: solid;
    float: left;
    padding: 20px;
    width: 640px
}

ad
 {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-style: solid;
    float: left;
    width: 160px;
    min-height: 620px;
    padding: 10px;
}

footer
 {
    background-color: #1B98E0;
    border: #001D4A;
    font-family: Verdana;
    color: #FFFFFF;
    font-size: 20px;
    border-style: solid;
    clear: both;
    text-align: center;
    padding: 20px;
}